body {
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-center {
  text-align: center;
}

.nothing {
  display: none;
}


.paddingTop_Bottom_20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.paddingTop_Bottom_7 {
  padding-top: 7px;
  padding-bottom: 7px;
}